* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

/* VERY EASY Checkerboard Starts */

.box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: inline-block;
  margin: -2px;
}

.black {
  background-color: black;
}

/* VERY EASY Checkerboard End */

/* EASY USA Flag Starts */

table {
  height: 456px;
  width: 800px;
}

table,
td {
  border: 0px solid;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background: #bf0b30;
}

tr:nth-child(even) {
  background: #ffffff;
}

.stars {
  background: #002768;
  width: 288px;
  height: 245px;
  margin-top: -456px;
}

p {
  color: #fffeff;
  font-size: 32px;
  line-height: 25px;
  letter-spacing: 15px;
  text-align: center;
}

/* EASY USA Flag Ends */

/* MEDIUM Products Starts */

.product-list {
  background-color: #dfe6e9;
  padding: 3em;
}

.product-list .card {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 10px 5px #b2bec3;
  text-align: center;
}

.card .title {
  font-size: 18px;
  font-weight: bold;
}

.card img {
  max-width: 100%;
}

.card .text {
  text-align: left;
  margin-left: 2em;
  margin-bottom: 0.5em;
  font-size: 12px;
}

.buy-button {
  background-color: #f9ca24;
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-weight: bold;
}

.buy-button:hover {
  box-shadow: 0px 5px 5px #b2bec3;
  color: #eb4d4b;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.align-center {
  text-align: center;
}
/* MEDIUM Products Ends */ ;
